<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="{{ seo.robots }}">
  <link rel="stylesheet" href="/{{ 'style.css'|version }}">
  <title>
    {{ seo.title }}
  </title>
</head>
<body>
  {% include '_includes/_components/header.njk' %}
  
  {% block content %}
    {{ content|safe }}
  {% endblock content %}
  <script src="/{{ 'script.js'|version }}"></script>
</body>
</html>