{% extends '_includes/layout.njk' %}



{% block content %}
  <main class="bg-brand-grey">
    <div class="container">
      <h1 class="">
        Lykke Capital
      </h1>
    </div>
  </main>
{% endblock %}