{% extends '_includes/_layouts/layout.njk' %}



{% block content %}
  <section class="bg-brand-grey py-24" id="about">
    <div class="container">
      <div class="sm:flex gap-x-12">
        <div class="sm:w-3/5 flex flex-col justify-center">
          <h3 class="title-h1 text-5xl">
            Lykke Group is a global investment, alternative asset management and advisory firm.
          </h3>
          <h2 class="title-h3">
            Lykke’s reputation for excellence is well known among investors and clients all around the world.
          </h2>
        </div>
        <figure class="sm:w-2/5">
          <img class="rounded-lg" src="./img/home.jpg" alt="Woman smiling">
        </figure>
      </div>
    </div>
  </section>

  <main class="container my-24" id="services">
    <h2 class="title-h1 uppercase">
      Services
    </h2>
    <h3 class="max-w-legible title-h3">
      We research and analyze global sustainability, investment, and healthcare trends to provide our clients with the insight they need to make informed decisions about how to invest, operate, and innovate in a sustainable manner.
    </h3>
    <section class="mt-10">
      <ul class="flex gap-x-12">
        {% for service in serviceList %}
          <li class="sm:w-1/2 bg-brand-grey px-8 py-6 rounded-lg">
            <article>
              <h2 class="title-h2 mb-4">
                {{ service.title }}
              </h2>
              <p>
                {{service.description}}
              </p>
            </article>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>

  {% if teamList|length %}
    <section class="container my-24">
      <h1 class="title-h1 uppercase">
        Team
      </h1>
      <h3 class="max-w-legible title-h3">
        Our team has a wealth of expertise in the global investment and sustainability arena. Our network, experience, and knowledge extend from the fields of sub-Saharan Africa to the trading desks of Wall Street.
      </h3>
      <ul class="mt-12">
        {% for person in teamList %}
          <li class="flex mb-12 last:mb-0">
            <figure class="mr-12">
              <img class="max-h-48" src="{{ person.image }}" alt="{{ person.title }}">
            </figure>
            <div>
              <h2 class="title-h2 mb-3">
                {{ person.title }}
              </h2>
              <p class="max-w-legible mb-3">
                {{ person.description }}
              </p>
              <a class="block icon icon-linkedin h-6 w-6" href="{{ person.linkedin }}" class="block">
                <span class="sr-only">{{ person.title }}'s LinkedIn</span>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}