{% extends '_includes/_layouts/layout.njk' %}



{% block content %}
  <section class="bg-brand-grey py-16 sm:py-20 mb-16 sm:mb-20" id="about">
    <div class="container">
      <div class="sm:flex gap-x-12">
        <div class="sm:w-3/5 flex flex-col justify-center mb-8 sm:mb-0">
          <h3 class="title-h1 text-4xl">
            Lykke Capital is a venture capital firm focusing on early-stage investments.
          </h3>
          <h2 class="title-h3 mb-0 prose">
            We are dedicated to providing capital to entrepreneurs pursuing and finding the good that exists in the world around us every day.
          </h2>
        </div>
      </div>
    </div>
  </section>
{% endblock %}