{% extends '_includes/_layouts/layout.njk' %}



{% block content %}
  <section class="bg-brand-grey py-16 sm:py-20 mb-16 sm:mb-20" id="about">
    <div class="container">
      <div class="sm:flex gap-x-12">
        <div class="sm:w-3/5 flex flex-col justify-center mb-8 sm:mb-0">
          <h3 class="title-h1 text-4xl">
            Lykke Capital is a venture capital firm focusing on early-stage investments.
          </h3>
          <h2 class="title-h3 mb-0 prose">
            Our current portfolio includes companies in consumer technology, consumer brand, enterprise technology, and blockchain. We're open to investing in more sectors.
          </h2>
        </div>
      </div>
    </div>
  </section>

  <main class="container mb-20 sm:mb-24" id="services">
    <h2 class="title-h1 uppercase tracking-wide">
      Investment Thesis
    </h2>
    <h3 class="max-w-70ch title-h3 mb-8 last:mb-0 prose">
      We are dedicated to providing capital to entrepreneurs pursuing and finding the good that exists in the world around us every day. 
    </h3>
    <section class="mb-8 last:mb-0">
      <ul class="md:flex gap-x-8">
        {% for sector in sectorsList %}
          <li class="md:w-1/3 mb-6 md:mb-0 last:mb-0 bg-brand-grey px-8 py-6 rounded">
            <article>
              <h2 class="title-h2">
                {{ sector.title }}
              </h2>
              <p>
                {{sector.description}}
              </p>
            </article>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}