<footer class="container border-t border-brand-dark-grey py-8">
  <div class="flex flex-col md:flex-row gap-x-8 justify-between text-sm text-brand-darker-grey">
    <p class="order-2 md:order-1">
      Copyright @2021 Lykke Group. All rights reserved.
    </p>
    <p class="sm:flex md:justify-end order-1 mb-2 md:mb-0">
      Email: contact@lykke-group.com
    </p>
  </div>
</footer>