<header class="py-6 bg-brand-grey">
  <div class="container flex justify-between">
    <a class="block" href="./">
      <h1 class="title-h2">
        <span>
          Lykke Group
        </span>
      </h1>
    </a>
    <ul class="">
      <li class="">
        <a href="#about">
          About
        </a>
      </li>
    </ul>
  </div>
</header>