{% set headerUrl = page.url %}
{% set headerLogoHeading = 'h1' if headerUrl === '/' else 'h2' %}



<header class="pt-6 bg-brand-grey">
  <div class="sm:container sm:flex justify-between pb-6 border-b border-brand-dark-grey">
    <div class="container sm:container-reset flex justify-between items-center">
      <a class="block" href="./">
        <{{ headerLogoHeading }} class="title-h2 mb-0">
          <span>
            Lykke Group
          </span>
        </{{ headerLogoHeading }}>
      </a>
      <label class="toggle-trigger sm:toggle-hidden icon icon-hamburger w-8 h-8" for="header-nav-toggle">
        <span class="sr-only">Main Menu</span>
      </label>
    </div>
    <div class="relative top-6 sm:top-0 w-full sm:w-auto sm:flex items-center">
      <input class="toggle-controller sm:toggle-hidden" id="header-nav-toggle" type="checkbox" />
      <nav class="toggle-content sm:toggle-content-visible absolute top-px sm:static w-full sm:w-auto bg-brand-grey">
        <ul class="flex flex-col sm:flex-row sm:items-center">
          {% for item in navItemList %}
            <li class="sm:mr-4 sm:last:mr-0">
              <a class="block py-4 sm:py-0 container sm:container-reset bg-brand-light-grey sm:bg-transparent border-b sm:border-none border-brand-dark-grey hover:underline" href="{{ item.target }}">
                {{ item.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>