<header class="pt-6 bg-brand-grey">
  <div class="container flex justify-between pb-6 border-b border-brand-dark-grey">
    <a class="block" href="./">
      <h1 class="title-h2 mb-0">
        <span>
          Lykke Group
        </span>
      </h1>
    </a>
    <ul class="flex items-center">
      {% for item in navItemList %}
        <li class="mr-4 last:mr-0">
          <a href="{{ item.target }}">
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</header>